@import "reset.css";

html, body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	
}

#container {
	height: 100%;
}

#landing {
	background: url(background-min.png) 50% 50% no-repeat;
	background-color: black;
	background-size: cover;
	display: table;
	height: 100%;
	width: 100%;
}

#landing h1 {
	color: white;
	font-family: Source Sans Pro;
	font-weight: 300;
	font-size: 400%;
	margin: 0px 10px;
	text-align: center;
}

#landing p {
	color: white;
	font-family: Source Sans Pro;
	font-weight: 200;
	letter-spacing: 2px;
	font-size: 20px;
	text-align: center;
	/*margin-left: 10%;*/
	padding-top: 20px;
/*	padding-top: 20px;
	margin: auto;
	width: 50%;*/
}

#landing b {
	font-weight: 500;
}

#landing hr {
	width: 60%;
	height: 1px;
	border: none;
	color: #AAA;
	background-color: #AAA;
	margin-top: 60px;
	margin-bottom: 60px;
}

#landing ul {
	list-style-type: none;
	text-align: center;
	left: 50%;
}

#landing li {
	padding: 0px 40px;
	display: inline-block;
}

#landing li a {
	font-family: Source Sans Pro;
	font-weight: 200;
	font-size: 20px;
}

#landing li a:link, a:visited {
	text-decoration: none;
	color: white;
	-webkit-transition: color 0.1s;
}

#landing li a:hover {
    color: rgb(0, 125, 255);
}

#landing_titles {
	margin-top: 40vh;
}

/****************************/
/* Gorgeous earth colors */

article {
	padding: 40px; 
}

.art_content h1 {
	color: black;
	font-family: Source Sans Pro;
	font-weight: 500;
	font-size: 350%;
	line-height: 10px;
	padding: 40px 0px;
}

.art_content p {
	color: black;
	font-family: Source Sans Pro;
	font-weight: 200;
	font-size: 20px;
	line-height: 1.5;
	margin-bottom: 1em;
}

.art_content {
	max-width: 800px;
	margin: 0 auto;
}

.art_content i {
	font-style: italic;
}

.art_content a {
	color: rgb(0, 125, 255);
	text-decoration: none;
}

.art_content a:hover {
	text-decoration: underline;
}

#planejamento {
	background-color: rgb(125, 200, 241);
}

#chart_div {
	background-color: white;
	padding: 20px;
	margin-top: 10px;
	min-width: 400px;
}

@media(max-width: 768px) {
	#landing h1 {
		font-size: 30px;
	}

	#landing p {
		font-size: 15px;
		padding-top: 10px;
		letter-spacing: 2px;
	}

	#landing li a {
		font-size: 15px;
	}

	#landing hr {
		margin-top: 40px;
		margin-bottom: 40px;
	}

	article {
		padding: 15px;
	}

	#content h1 {
		font-size: 200%;
	}

	#content p {
		font-size: 16px;
	}

	#chart_div {
		min-width: 300px;
	}
}